
<div class="container mt-5">
  <%= form_for(task) do |f| %>
    <div class="mb-3 h2">
      <%= f.label :title %></br>
      <%= f.text_field :title %>
    </div>
    <div class="mb-3 h2">
      <%= f.label :details %></br>
      <%= f.text_field :details %>
    </div>

  <% unless task.new_record?%>

    <div class="mb-3"> %>
      <%= f.label :completed %>
      <%= f.text_field :completed %>
    </div>
  <% end  %>
      <button type="submit" class="btn btn-primary"><%= f.submit %></button>
  <% end %>
</div>


  <%# <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> %>
